extends layout.pug

block content
    section.namecard
      .namecard-hello
        p.namecard-greeting Welcome, #{name}!
        form.namecard-exit(action='/goodbye', method='POST')
          button(type='submit')
            img(src='/static/img/close.svg')
      h1.namecard-prompt Let's get started
      a.namecard-submit(href='/cards/') Begin!
        
